.container {
    margin: 50px 30px;   
}
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.loadMore {
   margin: 30px 0;
   display: flex;
   justify-content: center;
}